<%- include('../inc/header.ejs') %>
<div class="card m-2">
  <div class="row">
    <div class="col-md-8 col-sm-12 card boderBtn">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <img
            class="img-detail"
            src="<%= comic.image %>"
            alt=""
            width="450px"
            height="450px"
          />
        </div>
        <div class="col-md-5 col-sm-12">
          <h4 class="pt-3">Tên truyện: <%= comic.name %></h4>
          <hr class="pe-3" style="border-width: 3px" />
          <p class="">
            <b>Tên tác giả: </b>
            <%= comic.writer_name %>
          </p>
          <p class="">
            <b>Năm xuất bản: </b>
            <%= comic.publishing_year %>
          </p>
          <p class="">
            <b>File Truyện: </b>
            <a href="<%= comic.pdf %>" target="_blank">Click để đọc!</a>
          </p>
          <hr style="margin-top: -5px; border-width: 3px" />
          <p class="">
            <b>Mô tả chuyện:</b>
            <%= comic.story_desc %>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../inc/footer.ejs') %>
